.header {
    background: deeppink;
    padding: $spacing-s;

    &__nav {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        li:not(:first-child) {
            margin-left: 1em;
        }
    }
}



@media (min-width: $breakpoint-m) {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
